* {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-size: 15px;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.2rem 4%;
  background-color: rgba(255, 255, 255, 0.61);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  border-bottom: 1px solid #b1b1b1;
}

.navbar .logo {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: left;
}

.navbar .logo img {
  width: 200px;
  vertical-align: middle;
}

.navbar .navbar-nav {
  display: flex;
}

.navbar .navbar-nav a {
  display: inline-block;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  background-color: #1c74bcd3;
  margin-left: 10px;
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
}

.navbar .navbar-nav a:hover {
  font-size: 20px;
}


.menu {
  font-size: 2rem;
  color: black;
}

#menu {
  display: none;
}

.menu {
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}

.hero {
  height: 100vh;
  background-image: url(images/borobudur.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Destination h1 {
  margin-top: 40px;
  font-size: 30px;
  margin-left: 150px;
  margin-bottom: 50px;
  color: #ffffffd3;
}

.gambar-semua {
  display: flex;
  justify-content: first baseline;
  margin: 10px;
}

.gambar1 {
  width: 60px;
}
.gambar2 {
  width: 60px;
  margin-left: 50px;
}
.gambar3 {
  width: 5px;
  margin-left: 200px;
}

img {
  width: 100%;
}

h2{
  color: rgb(146, 144, 82);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  border-style: dotted;
  border-width: 5px;
  border-color: aquamarine;
}
p{
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
  padding: 20px;
  width: 900px;
  margin: 30px auto;
}
d1 {
  line-height: 30px;
}
dt {
  font-family: 'Lucida Sans', 'Lucida Sans Regular'; background-color: rgb (146, 144, 82);
  margin-top: 30px;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}
dd {
  background-color: beige;
  font-family: monospace;
  font-size: 18px;
  text-indent: 40px;
  text-align: justify;
  width: 100%;
  height: 100%;
  line-height: 30px;
  padding: 10px;
  box-sizing: border-box;
}
a {
  color: rgb(52, 57, 27);
  text-decoration: underline;
  text-transform: capitalize;
  line-height: 3opx;
  padding: 20px;
}
.ISLAND {
  width: 900px;
  margin: 30px auto;
}
.ISLAND img {
  background-color: beige;
  width: 300px;
  border-top-left-radius: 50px;
  border-radius: 100px;
  float: left;
  margin-top: 10px;
  margin-right: 20px;
  margin: 10px 20px 10px 0px;
  padding: 10px;
}
