* {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-size: 15px;
}

html {
  margin: 0;
  padding: 0;
  /* background-color: #0f0e0e; */
}

body {
  margin: 0px;
  padding: 0px;
}

.navbar {
  background-color: #160404;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  height: 50px;
  z-index: 9999;
}

.menu-nav {
  display: inline-block;
}

.layar-penuh {
  width: 100%;
  margin-top: 0;
}

nav .putih {
  float: left;
  position: relative;
  text-align: center;
  width: 15%;
}

.navbar .logo {
  width: 50%;
  position: relative;
  line-height: 55px;
  text-align: center;
  padding-bottom: 45px;
}

nav.logo img {
  vertical-align: middle;
  width: 4rem;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu-nav a {
  border-radius: 25rem;
}

.navbar .menu-nav {
  list-style-type: none;
  float: left;
  line-height: 60px;
  margin-right: 70px;
  padding-bottom: 45px;
}

.navbar .menu-nav a {
  display: inline-block;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0.5rem;
  color: #0f0e0e;
  font-weight: 500;
  font-size: 0.8rem;
  background: 2rem yellow;
  border-radius: 20px;
  padding: 8px 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
nav .menu-nav a:hover {
  text-decoration: underline;
  border-radius: 20rem;
  font-size: 1rem;
}

li a,
.dropdown {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown-content:hover .dropbtn {
  background-color: #c85250;
  transition: all 0.5s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*pengaturan header */
header {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

header video {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  height: 100vh;
  z-index: 2;
}
.menu-nav .intro {
  z-index: 100;
  color: #f1f1f1;
  text-align: center;
  position: relative;
  top: 50%;
}

header .intro h3 {
  font-size: 50px;
  margin-top: 2rem;
  padding: 0;
}

.tombol {
  background-color: #c86b85;
  height: 40px;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0px 20px 0px 20px;
  font-size: 15px;
  border-radius: 4px;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: aqua;
  opacity: 50%;
  z-index: -1;
}

.fullscreen-bg {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.fullscreen-bg p {
  position: absolute;
  z-index: 999;
  color: #fff;
  font-size: 50px;
  font-weight: 800;
}
.fullscreen-bg .p2 {
  position: absolute;
  z-index: 999;
  color: #fff;
  font-weight: 100;
  width: 70%;
  margin-top: 7rem;
  margin-left: 40rem;
}

.fullscreen-bg .p2 p {
  font-size: 1rem;
  position: absolute;
  z-index: 999;
  color: #fff;
  font-weight: 100;
  width: 70%;
}

.button-menu {
  position: absolute;
  top: 0px;
  right: 0px;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.button-menu .garis {
  height: 3px;
  background-color: azure;
}

@media screen and (max-width: 1344px) {
  .navbar {
    width: 100%;
  }
  nav .menu ul {
    display: none;
  }
}

.judul {
  padding: 1rem;
  margin: 5rem;
  margin-left: 1rem;
  font-size: 50px;
  font-weight: 100;
}
